<style>
  html, body
  {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
  }
  
  #location
  {
    float: right;
    width: 25%;
    border: solid 5px #ccc;
    padding: 1%;
    position: fixed;
    right: 20px;
    top: 20px;
  }
  
  #location .country, #location .city
  {
    font-size: 24px;
    color: #069;
    text-transform: uppercase;
  }
  
  #tweets
  {
    width: 73%;
    padding: 10px;
  }
</style>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA9SzHqWj0pnvSzhwOX1yFCxRi_j0U6kJrkFvY4-OX2XYmEAa76BQoL8QspDxJ5P8mp_l47CViQ68m1w" type="text/javascript"></script>
<script type="text/javascript">
  function load() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(<%= @lat %>, <%= @long %>), 10);
    }
  }
</script>

<div id="location">
  <div id="map" style="width:100%;height:250px"></div>
  <p><span class="city"><%= @city %></span>, <span class="country"><%= @country %></span></p>
  <p><a href="<%= @map_url %>"><span class="latitude"><%= @lat %></span>/<span class="longitude"><%= @long %></span></a></p>
</div>

<script type="text/javascript">load();</script>

<div id="tweets">
  <h1>Local Tweets</h1>
  <ul>
    <% @tweets.each do |tweet| %>
    <li>
      <a href="<%= tweet.search('//link')[0].attributes['href'] %>"><%= tweet.search('//name').text %></a>
      <p><%= tweet.search('//title').text %></p>
    </li>
    <% end %>
  </ul>
</div>